html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

html {
   scroll-behavior: smooth;
}

body {
   width: 100%;
   height: 100vh;
   margin: 0px;
}

/****************************************
                Content
****************************************/

/* master styles */
.container {
   width: 100%;
   height: 100%;

   display: grid;
   grid-template-columns: 1fr;
}
/* nav styles */
.nav-wrapper {
   display: flex;
   justify-content: space-between;
   padding: 38px;
}

.left-side {
   display: flex;

}

.nav-wrapper>.left-side>div {
   margin-right: 20px;
   font-size: 1.25em;
   text-transform: uppercase;
}

.nav-wrapper>.right-side>div {
   margin-right: 20px;
   font-size: 1.25em;
   text-transform: uppercase;
}

.nav-wrapper>.center>div {
   margin-right: 20px;
   font-size: 2em;
   text-transform: uppercase;
}

.nav-link-wrapper {
   height: 22px;
   border-bottom: 1px solid transparent;
   transition: border-bottom 0.5s;
}

.nav-link-wrapper a {
   color: #8a8a8a;
   text-decoration: none;
   transition: color 0.5s;
}

.nav-link-wrapper :hover {
   border-bottom: 1px solid black;
}

.nav-link-wrapper :hover {
   color:black;
}

/* portfolio styles*/
.portfolio-items-wrapper {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   grid-template-rows: repeat(4, 1fr);
   border-box: margin(20px);
}
.portfolio-item-wrapper {
   position: relative;
   height: 350px;
   width: 100%;

   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
 
   overflow: hidden;
   box-sizing: border-box;
}

.img-text-wrapper {
   /* position: absolute;
   top: 0; */
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   height: 100%;
   width: 100%;
   text-align: center;
   /* padding-left: 100px;
   padding-right: 100px; */
   overflow: hidden;
}
.logo-wrapper:hover{
    transition: 1s;
    filter: brightness(10%);
}

.logo-wrapper {
   width: 100%;
   height: 100%;
   overflow: hidden;
}

.logo-wrapper img{
   width: 100%;
   transform: scale(1);
   /* margin-bottom: 20px; */
}

.img-text-wrapper .subtitle {
   transition: 1s;
   font-weight: 600;
   color: transparent;
   position: absolute;
   z-index: 10000;
}
.img-text-wrapper:hover .subtitle {
   font-weight: 600;
   color: lightsalmon;
}
